body {
    color:black;
    background-color:white;
    background-image:url(img/Salle\ de\ sport.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-origin: content-box;
}

ul {
    white-space: nowrap;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li {
    font-size: larger;
    font-weight: bolder;
    margin-right: 1cm;
    
}
.Pres1{
    white-space:nowrap;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
body {
    background-color: #ffffff ;  
}
img.logo{
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 2%;
}

footer{
    text-align: left;
    border: 8px solid #000000;

}

figure{
    justify-content: space-around;
}

a{
    margin-right: 0.2cm;
    text-decoration: none;
    color: white;
    text-shadow:3px 1px 2px black;
}

header {
    background-color: #94949491;
    font-size: larger;
}

/*Texte page contact*/
.contact{
    display: flex;
    background-color: #94949491;
    font-size: larger;
    color:white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 1%;
    border-bottom: 5% solid #00000000;
}
/*image, texte favre*/

.produits{
    display: inline-block;
    background-color: #94949491;
    font-size: larger;
    color:white;
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 1%; 
}

.produits span{
    width: auto;
    text-align: center;
    margin: auto;
}

.produits:nth-of-type(odd) img{
    float: left;
}
.produits:nth-of-type(even) img{
    float: right;
}

/*image , texte cours*/
.cours{
    background-color:#000000;
    color: #ffffff;
}
/*image, texte espace bien être*/
.espace{
    color:#19a537;
    background-color:#ffffff;
}

/*texte homepage*/
.homepagetext{
    background-color:#94949491;
}

/*image abonnement de base*/

article{background-color: #ffffff; max-width: 350px;text-align: center;}
article img {width: 100%; height: auto; display: block;}
article p span {display: block;}

